<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D21592C269D40030064BC86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D21594F269D4D000064BC86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DD1C9E726A7B2DA00C273F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
